[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiogram = "*"
validators = "*"
pexpect = "*"

[dev-packages]
pydocstyle = "*"
flake8 = "*"
pybabel = "*"
doit = "*"
build = "*"
sphinx = "*"
setuptools = "*"

[requires]
python_version = "3.12"
