[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytelegrambotapi = "*"
s6r-bitwarden-cli = "*"
aiogram = "*"

[dev-packages]
pydocstyle = "*"
flake8 = "*"

[requires]
python_version = "3.12"
